html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  margin: 0 auto;
  font-family: "Public Sans";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

input {
  border: none;
  background-color: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
  outline: none;
}

.container {
  max-width: 1440px;
  padding-left: 165px;
  padding-right: 165px;
  margin: 0 auto;
}

.btn {
  padding-top: 16px;
  padding-bottom: 14px;
  padding-left: 26.5px;
  padding-right: 24.5px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  color: $primary-white;
  background-color: $primary-dark-pink;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  transition: $transition;

  &:hover {
    background-color: $secondary-active-pink;
  }
}
