$primary-dark-pink:#BA4270;
$primary-white:#FBFCFE;
$secondary-san-blue:#36536B;
$secondary-mirage-blue:#1B262F;
$secondary-active-pink:#DA6D97;
$secondary-light-blue:#6C8294;
$font:'DM Serif Display';
$transition:all .2s ease;