.hero_section__container {
  padding-bottom: 151px;
  @include flexC;
}

.hero_section__image {
  width: 375px;
}

.hero_section__title {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -0.553846px;
  max-width: 546px;
  color: $secondary-san-blue;
  margin-bottom: 48px;
}

.hero_section__form {
  background-color: $primary-white;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  @include flexC;
  max-width: 445px;
}

.hero_section__email {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: $secondary-san-blue;
  padding-left: 27px;
  border-radius: 24px;
  width: 265px;

  &::placeholder {
    opacity: 0.5;
  }
}

.hero_section__subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: $secondary-light-blue;
  margin-left: 27px;
  margin-top: 16px;


  &-text {
    font-weight: 700;
  }
}

@media screen and (max-width: 1300px) {
  .hero_section__container {
    display: flex;
    flex-direction: column;
    padding-left: 116px;
    padding-right: 116px;
  }

  .hero_section__image {
    order: 1;
    max-width: 250px;
    margin-top: -32px;
    margin-right: -40px;
  }

  .hero_section__text {
    order: 2;
    margin-top: -35px;
  }

  .hero_section__title {
    font-size: 48px;
    line-height: 56px;
    max-width: 510px;
    margin: 0 auto;
    margin-bottom: 22px;
    text-align: center;
  }

  .hero_section__form {
    margin: 0 auto;
  }

  .hero_section__subtitle {
    text-align: center;
  }
}

@media screen and (max-width: 750px) {
  .hero_section__container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 575px) {
  .hero_section__text{
    max-width: 320px;
  }
  .hero_section__title {
    font-size: 32px;
    line-height: 36px;
  }
  .hero_section__form{
    display: block;
    box-shadow:none;
    background-color: inherit;
    max-width: 327px;

  }

  .hero_section__email{
    background-color: $primary-white;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  margin-bottom: 16px;
  padding-top: 16px;
  padding-bottom: 14px;
  width: 327px;
  }

  .hero_section__button{
    width: 327px;
    padding-left: 92.5px;
    padding-right: 92.5px;
  }
}

