.simple_section {
  background-image: url("../../../image/simple-bitmap.svg");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.simple_section__container {
  @include flexC;
  padding-top: 150px;
  padding-bottom: 150px;
}

.simple_section__text {
  max-width: 430px;
}

.simple_section__title {
  font-family: $font;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: $secondary-san-blue;
  margin-bottom: 24px;
}

.simple_section__subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #6c8294;
  max-width: 430px;
}

.simple_section__list {
  display: flex;
  max-width: 566px;
}

.simple_section__item {
  box-shadow: 25px 25px 80px rgba(54, 83, 107, 0.300727);
  border-radius: 40px;
  background-color: #213648;
}

.simple_section__item + .simple_section__item {
  margin-left: 40px;
}

.simple_section__img {
  border-radius: 40px;
}

@media screen and (max-width: 1365px) {
  .simple_section__container {
    padding-left: 116px;
    padding-right: 116px;
  }
}

@media screen and (max-width: 1274px) {
  .simple_section {
    background-image: none;
  }
  .simple_section__container {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .simple_section_text {
    order: 2;
  }

  .simple_section__list {
    order: 1;
    margin: 0 auto;
    margin-bottom: 48px;
  }

  .simple_section__item {
    max-width: 168px;
    border-radius: 25px;
  }

  .simple_section__item + .simple_section__item {
    margin-left: 25px;
  }

  .simple_section__title {
    text-align: center;
  }

  .simple_section__subtitle {
    max-width: 573px;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .simple_section__container {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 615px) {
  .simple_section__item {
    max-width: 152px;
  }

  .simple_section__title {
    font-size: 36px;
    line-height: 36px;
  }

  .simple_section__subtitle{
    max-width: 328px;
  }

  .simple_section__item + .simple_section__item{
    margin-left: 10px;
  }
}
