.start_section__container {
  @include flexC;
  padding-bottom: 96px;
}

.start_section__title {
  font-family: $font;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: $secondary-san-blue;
}

@media screen and (max-width: 1250px) {
  .start_section__container {
    padding-left: 116px;
    padding-right: 116px;
    display: block;
  }

  .start_section__title {
    text-align: center;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 680px) {
  .start_section__container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .start_section__title {
    font-size: 32px;
    line-height: 36px;
  }
}
